* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

:root {
  --main-bg-color: rgb(254, 220, 220);
  --main-color: rgb(255, 120, 63);
  --secondary-bg-color: rgb(255, 243, 229);
  --links: rgb(106, 147, 181);
}

body {
  display: flex;
  flex-direction: column;
  color: rgb(98, 97, 97);
  background: var(--main-bg-color);
  font-family: Georgia, "Times New Roman", Times, serif;
  align-items: center;
}

.header {
  font-size: 1.5em;
  color: var(--main-color);
  padding: 2em;
  background: var(--main-bg-color);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
}

ul {
  list-style: none;
  margin-bottom: 1em;
}

button {
  padding: 0.8em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.present > a {
  color: rgb(56, 157, 78);
}

.not-present > a {
  color: rgb(181, 75, 75);
}

.dark-grey {
  color: rgb(78, 78, 78);
}

.delete-button {
  background-color: rgb(251, 222, 221);
  padding: 0.5px 5px;
  margin: 0.8em;
  color: rgb(181, 75, 75);
}

.flex-row {
  display: flex;
}
input,
textarea,
select {
  padding: 0.3em;
  border: none;
  border-radius: 3px;
  background-color: var(--secondary-bg-color);
}

input:focus,
textarea:focus {
  outline: none;
}

/* --------------------- HOME ---------------------- */

.home-content {
  padding: 2em 3em;
  margin: 0em 0em;
  max-width: 800px;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  box-shadow: rgb(83, 83, 83, 0.2) 2px 4px 1px;
}

.home-content > h1 {
  color: var(--main-color);
  margin-bottom: 0.5em;
  text-align: center;
}

.user-list {
  margin: 0;
  padding: 0 0 0.5em 0.5em;
}
.user-list > li {
  text-align: left;
}

.home-content > button {
  background-color: rgb(247, 223, 192);
}

.home-content > button > a {
  color: rgb(75, 75, 75);
}

/* ----------------------- PROFILE ------------------------ */
.profile {
  max-width: fit-content;
  display: flex;
  padding: 2em;
  justify-content: space-between;
  line-height: 50px;
  border: var(--main-color) 4px dotted;
}
.profile-info {
  padding: 0 3em 0 1em;
}

.profile a,
.profile .friend-list > li > a {
  color: var(--links);
}
.info-div,
.present-label {
  color: rgb(255, 102, 71);
}
.info-div > p {
  color: #646464;
  margin-left: 1em;
}

.info-div > a {
  color: var(--links);
  margin-left: 1em;
}
.dog-image {
  margin-right: 1em;
  height: 200px;
}

/* ---------------- CREATE --------------- */
.create {
  padding: 2em 3em;
  margin: 0em 0em;
  max-width: 800px;
  border: var(--main-color) 4px dotted;
}

.create a {
  color: var(--links);
}

.create > form > * {
  padding: 0.5em;
  margin: 1em;
}
label {
  margin-right: 1em;
}

.added-friends {
  margin-top: 1em;
}

.added-friends > * {
  padding: 0.5em 0em;
}

/* -------------- EDIT ---------------- */

.edit {
  text-align: center;
}

.edit-divs > * {
  margin: 0.6em 0.5em;
  padding: 0.3em;
}

.friend-list > li > {
  color: var(--main-color);
}
