* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  color: rgb(191, 140, 217);
  background-color: rgb(251, 242, 255);
}

.header {
  background-color: rgb(191, 140, 217);
  color: rgb(250, 239, 255);
  padding: 1em;
}

ul {
  list-style: none;
  margin-bottom: 1em;
}

button {
  background-color: rgb(205, 152, 232);
  color: white;
  padding: 0.8em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.present > a {
  color: rgb(56, 157, 78);
}

.not-present > a {
  color: rgb(181, 75, 75);
}

.dark-grey {
  color: rgb(78, 78, 78);
}

.back-to-users {
  line-height: 30px;
}

/* ----------------------- PROFILE ------------------------ */
.profile {
  display: flex;
  padding: 2em;
  justify-content: space-between;
  line-height: 50px;
}
.profile-info {
  padding: 0 1em;
}
.dog-image {
  margin-right: 1em;
  height: 200px;
}

.name-edit-present {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
}

/* --------------------- HOME ---------------------- */
.home-content {
  padding: 1em;
}

.home-content > h1 {
  margin-bottom: 0.5em;
}

.home-content > button > a {
  color: rgb(255, 255, 255);
}

.remove-dog {
  padding: 0.5px 5px;
  margin: 0.8em;
}

/* ---------------- CREATE --------------- */

.create > form > * {
  padding: 0.5em;
}
